<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ContactEntities" connectionString="metadata=res://*/ContactDataModel.csdl|res://*/ContactDataModel.ssdl|res://*/ContactDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cmaserver.database.windows.net;initial catalog=ExzitingContactDatabase;user id=cma_logon;password=thisClassHas42Issues;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>